.logo img{
    height:100%
}
.phone-navbar{
    height: 138px;
    background-size: 100% 100%;
}
.phone-navbar.h1{
    padding-top: 50px;
    font-size:48px;
    font-weight: 600;
}

.product-navbar {
    background-color:#222222;
    color:#c6c6c6;
    font-weight: 600;
}
.product-navbar .col-md-2{

    padding:10px 0;
    margin:0;
}

.input-search{
    margin: 2px 0px;
}

